# Learning Julia

This notebook is meant to be an introduction to the Julia Language. Below we will provide some examples of basic operations, functions, and data types. This tutorial was made by following the walkthrough at this [link](https://www.analyticsvidhya.com/blog/2017/10/comprehensive-tutorial-learn-data-science-julia-from-scratch/).

The full Julia documentation (Version 1) is available [here](https://docs.julialang.org/en/v1/).

## Operations

Addition

In [8]:
4+5

9

Exponentiation

In [9]:
3^4

81

Division

In [3]:
91/2

45.5

## Data Types

### Arrays

In [16]:
A = [10, 20, 30]

3-element Array{Int64,1}:
 10
 20
 30

Access the first element of the array

In [17]:
A[1] #Julia is a 1-indexed language

10

### Column Vectors

In [19]:
B = [10; 20; 30] # Semi-colon denotes row-change

3-element Array{Int64,1}:
 10
 20
 30

Change the value of the first entry

In [21]:
B[1] = 199
B

3-element Array{Int64,1}:
 199
  20
  30

### Matrix operations

Create an array

In [3]:
M = [1 2 3; 4 5 6; 7 8 9]

3×3 Array{Int64,2}:
 1  2  3
 4  5  6
 7  8  9

Access/change the elements of an array by index

In [6]:
M[1,2] = 3663

3663

Transpose a matrix with a single quote

In [8]:
M'

3×3 LinearAlgebra.Adjoint{Int64,Array{Int64,2}}:
    1  4  7
 3663  5  8
    3  6  9

Take the inverse of a matrix with the inv() command

In [10]:
inv(M)

3×3 Array{Float64,2}:
 -0.000136575  -1.49973       0.999863
  0.000273149  -0.000546299   0.000273149
 -0.000136575   1.16694      -0.666803

### Dictionaries

A dictionary is an unordered set of key:value pairs, with unique keys in each dictionary.

Create a dictionary with the Dict() function

In [12]:
D = Dict(
    "first_name" => "Zane",
    "last_name" => "Murphy"
)

Dict{String,String} with 2 entries:
  "first_name" => "Zane"
  "last_name"  => "Murphy"

Access the elements using keys

In [13]:
D["first_name"]

"Zane"

In [14]:
D["last_name"]

"Murphy"

Count the number of elements in a dictionary

In [15]:
D.count

2

### Strings

Strings can simply be defined by use of double ( ” ) or triple ( ”’ ) quotes. Like Python, strings in Julia are also immutable.

Create a string

In [20]:
text = "Sample String"

"Sample String"

Access a letter of a string

In [22]:
text[1]

'S': ASCII/Unicode U+0053 (category Lu: Letter, uppercase)

Get the length of a string

In [25]:
length(text)

13

Get a subset of a string

In [33]:
text[1:6]

"Sample"

Remember that strings are immutable

In [35]:
text[1] = "C"

MethodError: MethodError: no method matching setindex!(::String, ::String, ::Int64)

## Loops/Conditionals

### For Loop

The method for iteration in Julia has the following syntax:

for i in [Julia Iterable] 
    expression(i) 
end

“Julia Iterable” can be a vector, string or other advanced data structure

Let's compute a factorial

In [17]:
num = 1

for i in range(1, stop=5)
    num = num*i
end

print(num)

120

Or we can do this using the ':' syntax as well

In [19]:
num = 1

for i in 1:5
    num = num*i
end

print(num)

120

### While Loop

Let's try factorial with a while loop

In [20]:
i = 5
total = 1

while i > 0
    total = total*i
    i = i-1
end

print(total)

120

### Conditionals

The following demonstrates the use of conditionals in Julia

In [32]:
for i in 1:10
    print(i)
    if i < 4
        print(" is less than four\n")
    elseif 4 <= i & i <= 7
        print(" is between four and seven\n")
    else
        print(" is greater than seven\n")
    end
end

1 is less than four
2 is less than four
3 is less than four
4 is between four and seven
5 is between four and seven
6 is between four and seven
7 is between four and seven
8 is greater than seven
9 is greater than seven
10 is greater than seven

## DataFrames

Now we can get into the good stuff: Dataframes and their manipulations.

In [34]:
 using DataFrames